body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #d04643;
}
.timer {
  color: white;
  display: flex;
  justify-content: center;
  margin: 30vh 0 5vh 0;
  font-size: 5em;
}

.buttons button {
  color: rgba(240, 191, 191, 0.973);
  font-size: 12px;
  letter-spacing: 0.05em;
  background-color: #d04643;
  outline: 0;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  height: 45px;
  width: 144px;
}

.buttons button:hover {
  background-color: rgba(207, 110, 110, 0.384);
}
